[Unit]
Description=VDO.Ninja Publisher (WHIP via FFmpeg)
After=network.target

[Service]
EnvironmentFile=/etc/vdoninja.conf
RuntimeDirectory=vdoninja-publisher
ExecStart=/home/nicolasrt/vdoninja-publisher.sh
Restart=on-failure
RestartSec=5
User=nicolasrt

[Install]
WantedBy=multi-user.target
