[Unit]
Description=Monitor de Inactividad para Streaming
After=network.target docker.service

[Service]
ExecStart=__INSTALL_DIR__/bin/idle-monitor.sh
Restart=always
RestartSec=10
User=root

[Install]
WantedBy=multi-user.target
