[Unit]
Description=Streaming Video y Audio FFmpeg
After=network.target docker.service
Requires=docker.service

[Service]
ExecStart=__INSTALL_DIR__/bin/streaming-tv.sh
Restart=always
RestartSec=5
User=__USER_NAME__

[Install]
WantedBy=multi-user.target
